# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
